<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Answer Form</title>
  <link rel="stylesheet" type="text/css" href="{{ myForm.css_file.url }}">
  <style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
    }

    .content {
      background-color: #fff;
      margin: 0 auto;
      padding: 20px;
      max-width: 800px;
    }

    h1, h2 {
      text-align: center;
    }
    h3 {
      text-align: left;
    }

    label {
      display: block;
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .submit-button {
      margin-top: 20px;
    }

    /* Style pour la fenêtre modale */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
      background-color: #fff;
      margin: 10% auto;
      padding: 20px;
      max-width: 800px;
      position: relative;
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1>{{ myForm.titleForm }}</h1>

    {% for page in myPages %}
      <div class="page">
        <h2>Page {{ page.number }}</h2>

        <form method="post" action="">
          {% csrf_token %}
          {% for question in all_questions %}
            {% if question.page == page %}
              <section id="{{ question.idQuestion }}" class="question-section">
                <h3 class="{% if question.isObligatory %}obligatory{% endif %}">{{ question.title }}{% if question.isObligatory %}*{% endif %}</h3>
            
                {% if question.type.typeQuestion == 'question ouverte' %}
                  <textarea name="{{ question.idQuestion }}" class="form-control"></textarea>
                {% else %}
                    {% for answer in question.answer_set.all %}
                    <label class="form-check-label">
                      {% if question.type.typeQuestion == 'choix multiple' %}
                        <input type="checkbox" class="{{ question.idQuestion }} form-check-input" name="{{ question.idQuestion }}" value="{{ question.answer.idAnswer }}"
                        {% for key, value in session_data.items %}
                          {% if answer.idQuestion in key and value == answer.idAnswer %}
                            checked
                          {% endif %}
                        {% endfor %}
                        >
                      {% else %}
                        <input type="radio" class="{{ question.idQuestion }} form-check-input" name="{{ question.idQuestion }}" value="{{ answer.idAnswer }}"
                        {% for key, value in session_data.items %}
                          {% if answer.idQuestion in key and value == answer.idAnswer %}
                            checked
                          {% endif %}
                        {% endfor %}
                        >
                      {% endif %}
                      {{ answer.Answer }}
                    </label><br>
                  {% endfor %}
                {% endif %}
              </section>
            {% endif %}
          {% endfor %}
        
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <p>* Indique une question obligatoire</p>
      </div>
    {% endfor %}

    <div class="button-container">
      {% if preview %}
      <input type="submit" value="Envoyer le Formulaire" disabled>
      {% else %}
        <input type="submit" value="Envoyer le Formulaire" onclick='theEnd();'>
      {% endif %}
    </div>
  </div>
  <hr>
  <!-- Ajoutez ces éléments HTML à la fin de votre document body -->
  <div id="pagination" style="text-align: center;">
    <button id="prevPage" disabled>Page précédente</button>
    <button id="nextPage">Page suivante</button>
    <button id="submitForm" style="display: none;">Envoyer le Formulaire</button>
  </div>

  <!-- Fenêtre modale -->
  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeModalButton">&times;</span>
      <div class="content">
        <h1>{{ myForm.titleForm }}</h1>

        <!-- Formulaire de personnalisation du style -->
        <h2>Personnaliser le Style</h2>
        <label for="backgroundColor">Couleur de Fond :</label>
        <input type="color" id="backgroundColor" name="backgroundColor">
        <label for="fontFamily">Police de Caractères :</label>
        <select id="fontFamily" name="fontFamily">
          <option value="Arial, sans-serif">Arial</option>
          <option value="Times New Roman, serif">Times New Roman</option>
          <option value="Verdana, sans-serif">Verdana</option>
          <!-- Ajoutez d'autres options de police ici -->
        </select>
        <label for="textColor">Couleur du Texte :</label>
        <input type="color" id="textColor" name="textColor">
        <!-- Ajoutez d'autres options de personnalisation ici -->
        <button id="applyStyleButton">Appliquer le Style</button>
        <button id="resetStyleButton">Réinitialiser le Style</button>
        <!-- Fin du formulaire de personnalisation -->
      </div>
    </div>
  </div>

  <button id="openModalButton">Ouvrir le Formulaire</button>

</body>
</html>
<!-- ... Votre HTML ... -->
<!-- SCRIPT pour gérer l'ouverture et la fermeture de la fenêtre modale et appliquer le style -->
<script>
  var openModalButton = document.getElementById('openModalButton');
  var closeModalButton = document.getElementById('closeModalButton');
  var modal = document.getElementById('modal');
  var applyStyleButton = document.getElementById('applyStyleButton');

  openModalButton.addEventListener('click', function () {
    modal.style.display = 'block';
  });

  closeModalButton.addEventListener('click', function () {
    modal.style.display = 'none';
  });

  applyStyleButton.addEventListener('click', function () {
    var backgroundColor = document.getElementById('backgroundColor').value;
    var fontFamily = document.getElementById('fontFamily').value;
    var textColor = document.getElementById('textColor').value;

    var styleCSS = `body {
      background-color: ${backgroundColor};
      font-family: ${fontFamily};
      color: ${textColor};
    }`;

    // Créer un élément <style> dynamique et injecter le style CSS
    var styleElement = document.createElement('style');
    styleElement.innerHTML = styleCSS;
    document.head.appendChild(styleElement);

    // Fermer la fenêtre modale
    modal.style.display = 'none';
  });

  data =  null; //fichier de style

</script>


<!-- SCRIPT qui vérifie si le bouton submit d'une page rempli la condition de réponses aux questions -->
<script>

var currentPage = 1; // Page actuelle
//page max valides
var pageMax = 1;

  // Sélectionnez tous les formulaires sur la page
const forms = document.querySelectorAll('form');

// Parcourez chaque formulaire
forms.forEach((form, index) => {
  form.addEventListener('submit', function (event) {
    event.preventDefault();

    // Récupérez toutes les questions de ce formulaire
    //const requiredQuestions = form.querySelectorAll('h3');
    // garder les questions obligatoires seulement 
    const requiredQuestions = form.querySelectorAll('h3.obligatory');
    //afficher le nombre de questions obligatoires
    console.log("nombre de questions obligatoires : ");
    console.log(requiredQuestions.length);


    // Vérifiez si toutes les questions obligatoires ont été répondues
    let allQuestionsAnswered = true;

    requiredQuestions.forEach((question, questionIndex) => {
      // Vérifiez le type de question (textarea, input radio, input checkbox, etc.)
      const questionType = question.nextElementSibling.nodeName.toLowerCase();

      if (questionType === 'textarea') {
        // Pour les zones de texte, vérifiez si elles ne sont pas vides
        if (question.nextElementSibling.value.trim() === '') {
          allQuestionsAnswered = false;
        }
      } else if (questionType === 'input') {
        const inputType = question.nextElementSibling.getAttribute('type');
        
        if (inputType === 'radio') {
          // Pour les boutons radio, vérifiez s'il y a une option sélectionnée
          const radioButtons = form.querySelectorAll(`[class="${question.nextElementSibling.getAttribute('class')}"]:checked`);
          if (radioButtons.length === 0) {
            allQuestionsAnswered = false;
          }
        } else if (inputType === 'checkbox') {
          // Pour les cases à cocher, vérifiez si au moins une est cochée
          const checkboxes = form.querySelectorAll(`[class="${question.nextElementSibling.getAttribute('class')}"]:checked`);
          if (checkboxes.length === 0) {
            allQuestionsAnswered = false;
          }
        }
      }
    });
    console.log("good ? ");
    console.log(allQuestionsAnswered);  

    // Si toutes les questions obligatoires ont été répondues, soumettez le formulaire
    if (allQuestionsAnswered) {
      form.submit();
      console.log("submit");
      console.log(currentPage);
      console.log(pageMax);
      if (currentPage == pageMax) {
        currentPage++;
      }
    } else {
      // Sinon, affichez un message d'erreur ou effectuez une autre action appropriée
      alert(`Veuillez répondre à toutes les questions obligatoires du formulaire ${index + 1}.`);
    }
  });
});

//////////////////////////////////////////
// SCRIPT qui gere l'afichage des pages //
//////////////////////////////////////////

var totalPages = {{ myPages|length }}; // Le nombre total de pages de votre formulaire

// Événement pour afficher la page actuelle
function showCurrentPage() {
  var pages = document.querySelectorAll('.page');
  for (var i = 0; i < pages.length; i++) {
    if (i === currentPage - 1) {
      pages[i].style.display = 'block';
    } else {
      pages[i].style.display = 'none';
    }
  }

  // Gérer l'affichage des boutons "Page précédente" et "Page suivante"
  var prevButton = document.getElementById('prevPage');
  var nextButton = document.getElementById('nextPage');
  var submitButton = document.getElementById('submitForm');

  if (currentPage === 1) {
    prevButton.disabled = true;
  } else {
    prevButton.disabled = false;
  }

  if (currentPage === totalPages) {
    nextButton.style.display = 'none';
    submitButton.style.display = 'block';
  } else {
    nextButton.style.display = 'block';
    submitButton.style.display = 'none';
  }
}

// Événement pour passer à la page suivante
document.getElementById('nextPage').addEventListener('click', function () {
  if (currentPage < totalPages && currentPage < pageMax) {
    currentPage++;
    showCurrentPage();
  }
});

// Événement pour revenir à la page précédente
document.getElementById('prevPage').addEventListener('click', function () {
  if (currentPage > 1) {
    currentPage--;
    showCurrentPage();
  }
});

// Afficher la première page lors du chargement initial
showCurrentPage();

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SCRIPT qui vérifie si les conditions de réponses aux questions sont remplies au chargerment de la page //
////////////////////////////////////////////////////////////////////////////////////////////////////////////
var myDependencies = {{ myDependencies|safe }};
var questionReponses = {};

// Chargement initial lorsque la page est entièrement chargée
document.addEventListener("DOMContentLoaded", onPageLoad);

function onPageLoad() {
  console.log("<----------onPageLoad---------->");

  // Récupération des dépendances depuis le modèle de données
  questionReponses = {};

  // Création du dictionnaire question-réponses
  myDependencies.forEach(function(dependency) {
    var parts = dependency.split("->");
    var answer = parts[0].trim();
    var question = parts[1].trim();

    if (!(question in questionReponses)) {
      questionReponses[question] = [];
    }

    questionReponses[question].push(answer);
  });

  // Vérification des conditions de visibilité initiales
  for (var question in questionReponses) {
    var responses = questionReponses[question];
    var dependentQuestionElement = document.getElementById(question);

    if (shouldShowQuestion(responses)) {
      dependentQuestionElement.style.display = 'block';
      console.log("Ne pas cacher la question : " + question);
    } else {
      dependentQuestionElement.style.display = 'none';
      console.log("Cacher la question : " + question);
      // Supprimer les réponses (à implémenter si nécessaire)
    }
  }
}

function shouldShowQuestion(responses) {
  // Vérification si toutes les réponses associées à une question sont cochées
  for (var i = 0; i < responses.length; i++) {
    var answer = document.getElementById(responses[i]);
    if (!answer || !answer.checked) {
      return false;
    }
  }
  return true;
}

// Réécriture de la partie de gestion des événements
(function() {
  var reponsesQuestions = {};
  console.log("<----------reponsesQuestions---------->");
  console.log(myDependencies);
  var otherElements
  myDependencies.forEach(function(dependency) {
    var parts = dependency.split("->");
    var answerValue = parts[0].trim(); // Utilisez la valeur au lieu de l'ID
    var question = parts[1].trim(); // Utilisez l'ID de la question

    if (!(answerValue in reponsesQuestions)) {
      reponsesQuestions[answerValue] = [];
    }

    reponsesQuestions[answerValue].push(question);

    // Ajout d'un écouteur d'événements pour chaque réponse en utilisant la valeur
    var answerElements = document.querySelectorAll('input[type="checkbox"][value="' + answerValue + '"]');
    if (answerElements.length == 0) { //si bouton radio
      answerElements = document.querySelectorAll('input[type="radio"][value="' + answerValue + '"]');
      otherElements = document.querySelectorAll('input[type="radio"]');
    }
    console.log(otherElements);
    
    // Vérifiez si au moins un élément a été trouvé avant d'ajouter l'écouteur
    if (otherElements.length > 0) {
      otherElements.forEach(function(otherElements) {
        otherElements.addEventListener("change", function() {
          console.log("<----------otherElements.addEventListener---------->");
          updateQuestionsVisibility(otherElements);
        });
      });
    }
  });

  // Fonction pour mettre à jour la visibilité des questions dépendantes
  function updateQuestionsVisibility(selectedAnswer) {
    for (var answer in reponsesQuestions) {
      var questions = reponsesQuestions[answer];
      for (var i = 0; i < questions.length; i++) {
        var question = questions[i];
        var dependentQuestionElement = document.getElementById(question);
        var isChecked = document.querySelectorAll('input[type="checkbox"][value="' + answer + '"]:checked').length > 0;
        if (!isChecked) { //si bouton radio
          isChecked = document.querySelectorAll('input[type="radio"][value="' + answer + '"]:checked').length > 0;
        }
        console.log("isChecked : ");
        console.log(isChecked);

        if (isChecked) {
          dependentQuestionElement.style.display = 'block';
          console.log("Ne pas cacher la question : " + question);
        } else {
          dependentQuestionElement.style.display = 'none';
          console.log("Cacher la question : " + question);
          console.log(isChecked)
          // Supprimer les réponses (à implémenter si nécessaire)
        }
      }
    }
  }

  // Appel initial de la fonction updateQuestionsVisibility pour afficher/masquer les questions
  for (var answer in reponsesQuestions) {
    updateQuestionsVisibility(answer);
  }

})();

function theEnd() {
  //ajouter "theEnd" en GET
  //recuperer l'url courant
  var url = window.location.href;
  //ajouter "theEnd" en GET
  url = url + "?theEnd";
  document.location.href = url;
}

</script>

