<!-- answerForm.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Answer Form</title>
</head>
<body>
  <h1>{{ myForm.titleForm }}</h1>

  {% for page in myPages %}
    <h2>Page {{ page.number }}</h2>

    <form method="post" action="">
      {% csrf_token %}
    
      {% for question in page.question_set.all %}
        <h3>{{ question.title }}</h3>
    
        {% if question.type.typeQuestion == 'question ouverte' %}
          <textarea name="answer_{{ question.idQuestion }}"></textarea>
        {% else %}
          {% for answer in question.answer_set.all %}
            {% if question.type.typeQuestion == 'choix multiple' %}
              <input type="checkbox" name="answer_{{ question.idQuestion }}" value="{{ answer.idAnswer }}"
                {% for key, value in session_data.items %}
                  {% if answer.idQuestion in key and value == answer.idAnswer%}
                    checked
                  {% endif %}
                {% endfor %}     
              >
            {% else %}
              <input type="radio" name="answer_{{ question.idQuestion }}" value="{{ answer.idAnswer }}"
                {% for key, value in session_data.items %}
                  {% if answer.idQuestion in key and value == answer.idAnswer%}
                    checked
                    style = color:red;
                  {% else %}
                    id="marche pas"
                  {%endif%}
                  >
                {% endfor %}   
  
            {% endif %}
            <label>{{ answer.Answer }}</label><br>
          {% endfor %}
        {% endif %}
      {% endfor %}
    
      <input type="submit" value="Submit">
    </form>
  {% endfor %}
  <input type="submit" value="Envoyer le Formulaire">
</body>
</html>