{% extends 'master.html' %}
{% load static %}

{% if myForm.isOnline %}
    <h1>Formulaire en ligne</h1>
    {% url 'IQB:details' myForm.idForm %}
{% endif %}

{% block title %}IODA Group IQB{% endblock %}

{% block styles %}
<style>
    [contenteditable="true"]:hover::after {
        content: "";
        display: inline-block;
        background-image: url('{% static "IQB/images/modifier.png" %}');
        background-size: cover;
        width: 24px;
        height: 24px;
    }
</style>
<style>
    .response-indent {
        margin-left: 20px; /* Indentation de 20px */
        list-style-type: none; /* Supprime les puces de la liste */
    }
</style>
<style>
    .no-list-style {
        margin: 0;
        padding: 0;
    }
    .question-container.selected {
        background: linear-gradient(white, white) padding-box,
                    linear-gradient(90deg,#2f6fe4,#f20252,#ff3800), border-box;
        border: 4px solid transparent;
    }
</style>
{% endblock %}


{% block content %}
    <script>
        function preview(myCustomer,formId){
            console.log("preview");
            console.log("Customer : " + myCustomer);
            //afficher l'utilisateur connecté
            console.log
            console.log("formId : " + formId);
            //var redirectUrl = '/' + myCustomer + '/form/' + formId.toString() + '/?preview=true';
            var redirectUrl = '/' + myCustomer + '/form/' + formId + '/?preview=true';
            console.log(redirectUrl);
            document.location.href = redirectUrl;
        }
    </script>
   
    <div class="container-fluid">


        <div class="row">
            <!-- Panneau latéral de navigation -->
            <!-- style="background:grey; -->
            <div class="col-lg-3 col-md-3 col-sm-12 sidebar sidebar-content">
                <div style="position:fixed;">
                    <button onclick="MesFormulaires();" class="">
                        <p>Mes Formulaires</p>
                    </button>
                    <!-- Titre du sidebar -->
                    <h2>Plan du Formulaire</h2>  
                    <!-- Contenu du panneau latéral de navigation -->
                    <ol class="nav flex-column no-list-style">
                        <li class="nav-item">
                            <a class="nav-link" href="#introduction">Intro</a>
                        </li>
                        {% for form in info_form %}
                            {% for page in form.pages %}
                                {% for question in page.questions %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#{{ question.question.idQuestion }}">{{ question.question.title }}</a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        <li class="nav-item">
                            <a class="nav-link" href="#conclusion">Conclusion</a>
                        </li>
                    </ol>
                </div>
            </div>


            <!-- Contenu principal -->
            <div class="col-lg-9 col-md-7 col-sm-12">
                <div class="row">
                    <!-- Contenu principal -->
                    <div class="col-lg-10 col-md-8 col-sm-12">
                        {% for form in info_form %}
                        <h2 class="key" id="{{ form.form.idForm }}" name="titleForm" contenteditable="true">{{ form.form.titleForm }}</h2>
                        <hr>
                        <p contenteditable="true" id="{{ form.form.idForm }}" name="introText">{{ form.form.introText }}</p>
                        <hr>
                        {% for page in form.pages %}
                            <div id='allPages'>
                                <fieldset>
                                    <legend class="page">Page {{ page.page.number }}</legend> 
                                    <div id="{{ page.page.idPage }}" class="page">
                                        <ol class="no-list-style">
                                        {% for question in page.questions %}
                                        <form method="post" style="margin-bottom: 10px;">
                                            {% csrf_token %}
                                            <div id="{{ question.question.idQuestion }}" class="question-container question card">
                                                <div class="card-header d-flex justify-content-between align-items-center">
                                                    <li contenteditable="true" style="margin-left: 10px;" id="{{ question.question.idQuestion }}" name="title">{{ question.question.title }}</li>
                                                </div>
                                                <div class="card-body">
                                                    <label for="type-select">Choisir un type : </label>
                                                    <select name="type" class="form-select questionParameter" style="margin-bottom: 20px;">
                                                        {% for x in myType %}
                                                        <option name="type_question" value="{{ x.typeQuestion }}" {% if x.typeQuestion == question.question.type.typeQuestion %}selected{% endif %}>{{ x.typeQuestion }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <ol class="no-list-style">
                                                    {% for answer in question.answers %}
                                                    <div id="{{ answer.idAnswer }}" class="reponse d-flex align-items-center">
                                                        <div class="col-10">
                                                            <div>
                                                                <li  id="{{ answer.idAnswer }}" name="Answer" class="reponse" contenteditable="true" style="max-width: 100%; margin-left: 10px;">
                                                                    {{ answer.Answer }}
                                                                </li>
                                                            </div>
                                                        </div>
                                                        <div class="col-2 d-flex justify-content-end">
                                                            <button type="button"  id="{{ answer.idAnswer }}" name="answer" class="btn btn-primary" title="LierReponse">
                                                                <img src="{% static 'IQB/images/lier.png' %}" alt="LierReponse" width="24" height="24">
                                                            </button>
                                                            <button type="button" id="{{ answer.idAnswer }}" name="answer" class="btn btn-danger" title="Supprimer">
                                                                <img src="{% static 'IQB/images/poubelle.png' %}" alt="Supprimer" width="24" height="24">
                                                            </button>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    </ol>
                                                
                                                
                                                    {% if question.question.type.typeQuestion != 'question ouverte' %}
                                                    <button type="button" name="answer" class="btn btn-primary" title="Ajouter">Ajouter une réponse</button>
                                                    {% else %}
                                                    <textarea disabled>réponse....</textarea>
                                                    {% endif %}

                                                </div>
                                                <div class="card-footer d-flex justify-content-between align-items-center">
                                                    <div class="form-check">
                                                        {% if question.question.type.typeQuestion == 'choix multiple' %}
                                                        <p class="nbrAnswerMin questionParameter">Nombre de réponse minimum :</p>
                                                        <input type="number " name="nbrAnswerMinInput" min="1" value="{{ question.question.nbrAnswerMin }}">
                                                        <p class="nbrAnswerMax questionParameter">Nombre de réponse maximum :</p>
                                                        <input type="number" name="nbrAnswerMaxInput" min="1" value="{{ question.question.nbrAnswerMax }}" >
                                                        {% endif %}
                                                      </div>
                                                    <div class="response-info">
                                                        <input id="{{ question.question.idQuestion }}" class="form-check-input questionParameter" name="isObligatory" type="checkbox" {% if question.question.isObligatory %}checked{% endif %}>
                                                        <label class="form-check-label">Est obligatoire</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        {% endfor %}
                                        </ol>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="button" id="addPage" onclick='form_page({{ page.page.number }},"addPage");' class="btn btn-primary">Ajouter une page</button>
                            <button type="button" id="delPage" onclick='form_page({{ page.page.number }},"delPage");' class="btn btn-primary">Supprimmer la page</button>
                        {% endfor %}
                        <hr>
                        <p contenteditable="true"id="{{ form.form.idForm }}" name="concludingText" >{{ form.form.concludingText }}"</p>
                        <hr>
                        {% endfor %}
                    </div>
                        <!-- Menu interactif -->
                        <div class="col-lg-2 col-md-2 col-sm-12 d-flex justify-content-center">
                            <div class="menu-container d-flex flex-column" id="interactive-menu">
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#validationPublish" title="validation publication">
                                    <button type="submit" class="btn btn-primary" name="menu" value="publier" title="Publier">
                                        <img src="{% static 'IQB/images/publier.png' %}" alt="publier" width="24" height="24">
                                    </button>
                                </a>
                                <button onclick="preview('{{ CurrentloginCust }}','{{ myForm.idForm }}');" type="button" class="btn btn-primary" name="menu" id="preview" value="preview" title="preview" style="margin-bottom: 100px;">
                                    <img src="{% static 'IQB/images/visible.png' %}" alt="preview" width="24" height="24">
                                </button>
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#Parametres" style="margin-bottom: 100px;display: none;">
                                    <button type="submit" class="btn btn-secondary" name="menu" value="parametre" title="Parametres" style="display:  none;">
                                        <img src="{% static 'IQB/images/parametre.png' %}" alt="parametre" width="24" height="24" style="display: none;">
                                    </button>
                                </a>
                                <button type="submit" class="btn btn-danger" name="menu" value="supprimer" title="supprimer">
                                    <img src="{% static 'IQB/images/poubelle.png' %}" alt="Supprimer" width="24" height="24">
                                </button>
                                <button class="btn btn-primary" name="menu" value="lier">
                                    <img src="{% static 'IQB/images/lier.png' %}" alt="Lier" width="24" height="24">
                                </button>
                                <button type="submit" class="btn btn-primary" name="menu" value="haut" title="Déplacer vers le haut">
                                    <img src="{% static 'IQB/images/flecheHaut.png' %}" alt="flèche vers le haut" width="24" height="24">
                                </button>
                                <button type="submit" class="btn btn-primary" name="menu" value="bas" title="Déplacer vers le bas">
                                    <img src="{% static 'IQB/images/flecheBas.png' %}" alt="flèche vers le bas" width="24" height="24">
                                </button>
                                <button type="submit" class="btn btn-primary" name="menu" value="dupliquer" title="Dupliquer question">
                                    <img src="{% static 'IQB/images/dupliquer.png' %}" alt="Dupliquer" width="24" height="24">
                                </button>
                                <button type="submit" class="btn btn-success" name="menu" value="ajouter" title="ajouter question">
                                    <img src="{% static 'IQB/images/ajouter.png' %}" alt="Ajouter" width="24" height="24">
                                </button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <script>
        function affichagedynamique(parametre) {
            console.log("La fonction affichage dynamique a été appelée.");
            console.log("parametre : " + parametre); 

            //récupéré l'élémeent avec id="lienQuestion" et le mettre dans une variable
            var modal = document.getElementById("lienQuestion");
            //parcourir les questions de la variable et les mettre dans une liste
            var all_question = modal.querySelectorAll('.question-item');
            console.log(all_question);
            //créer un tableau vide
            var elementsToHide = [];
            var elementsSelected = parametre;
            var indexElementsSelected = null;
            //parcourir la liste des question et afficher les id des questions et leur ordre
            Array.from(all_question).forEach(question => {
                question.style.color = " black"; //remetre les checkbox en focntion de la BD
                var idElement = question.getAttribute('data-question-id');
                console.log(idElement);
                console.log(idElement == elementsSelected);
                if (question.getAttribute('data-question-id') == elementsSelected) { //question sélectionnée
                    console.log("question sélectionnée");
                    console.log(question);
                    elementsToHide.push(question);
                    //récupérer la place de la question sélectionnée dans la liste
                    indexElementsSelected = Array.from(all_question).indexOf(question);
                }
                else if (indexElementsSelected != null ) { //question suivante
                    console.log("question suivante");
                    console.log(question);
                    elementsToHide.push(question);
                }
            }); 
            //parcourir le tableau elementsToHide et mettre les questions dans la fenetre modal en rouge
            //parcourir le tableau elementsToHide et mettre les questions dans la fenetre modal en rouge
            Array.from(elementsToHide).forEach(element => {
                element.style.color = "grey";
                var all_checkbox = element.querySelectorAll('input[type="checkbox"]');
                console.log(all_checkbox);
                Array.from(all_checkbox).forEach(checkbox => {
                    checkbox.disabled = true;
                });
            });
        }
    </script>
<!-- Modal pour les liens d'une questions: conditions pour qu'elle s'affiche -->
<div class="modal fade" id="lienQuestion" tabindex="-1" aria-labelledby="lienQuestionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lienQuestionLabel">lien de la question </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for form in info_form %}
                    {% for page in form.pages %}
                        {% for question in page.questions %}
                            <li class="nav-item question-item" data-question-id="{{ question.question.idQuestion }}">
                                {% if question.question.type.typeQuestion == 'question ouverte' %}
                                    <del>{{ question.question.title }}</del>
                                {% else %}
                                    {{ question.question.title }}
                                    <ul class="response-indent">
                                        {% for answer in question.answers %}
                                            <li>
                                                <input type="checkbox" value="true" idAnswer={{answer.idAnswer}}>
                                                <label>{{ answer.Answer }}</label>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" onclick='lien("lienQuestion");' class="btn btn-success">enregistrer</button>
                <!--onclick='form_page({{ page.page.number }},"delPage")';-->
            </div>
        </div>
    </div>
</div>
<script> // A MODIFIER §§§§§§§§§§§§!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    function affichagedynamiqueLien(parametre,currentAnwser) {
        console.log("________________________");
        console.log("La fonction affichage dynamique a été appelée.");
        console.log("parametre : " + parametre); 
        console.log("answer : " + currentAnwser);

        //récupéré l'élémeent avec id="lienQuestion" et le mettre dans une variable
        var modal = document.getElementById("lienReponse");
        //parcourir les questions de la variable et les mettre dans une liste
        var all_question = modal.querySelectorAll('.question-item');
        console.log(all_question);
        //créer un tableau vide
        var elementsToHide = [];
        var elementsSelected = parametre;//question sélectionnée
        var indexElementsSelected = null; // réponse sélectionnée
        var idElement = null;
        //parcourir la liste des question et afficher les id des questions et leur ordre
        Array.from(all_question).forEach(question => {
            question.style.color = " black"; //remetre les checkbox en focntion de la BD
            idElement = question.getAttribute('data-question-id');
            console.log(idElement);
            console.log(idElement == elementsSelected);

            if (idElement == elementsSelected) { //question sélectionnée
                console.log("question sélectionnée");
                console.log(question);
                elementsToHide.push(question);
                //récupérer la place de la question sélectionnée dans la liste
                indexElementsSelected = Array.from(all_question).indexOf(question);
                console.log("aaaaaaaaaaaaaaaaaaaaaaaaaaaaa");
                console.log('indexElementsSelected : ' + indexElementsSelected);
            }           
            else if (indexElementsSelected == null ) { //question suivante
                console.log("question suivante");
                console.log(question);
                elementsToHide.push(question);
            }

        }); 
        //parcourir le tableau elementsToHide et mettre les questions dans la fenetre modal en rouge
        Array.from(elementsToHide).forEach(element => {
            element.style.color = "grey";
            var all_checkbox = element.querySelectorAll('input[type="checkbox"]');
            console.log(all_checkbox);
            Array.from(all_checkbox).forEach(checkbox => {
                checkbox.disabled = true;
            });
        });
    }
</script>
<!-- Modal pour les liens d'une réponse: question associée -->
<div class="modal fade" id="lienReponse" tabindex="-1" aria-labelledby="lienReponseLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lienReponseLabel">Lier aux Questions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenu du formulaire de profil -->
                {% for form in info_form %}
                    {% for page in form.pages %}
                        {% for question in page.questions %}
                            <li class="nav-item question-item" data-question-id="{{ question.question.idQuestion }}">
                                <input type="checkbox" value="true">
                                {{ question.question.title }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success">enregistrer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour demander la validation de l'action -->
<div class="modal fade" id="validationPublish" tabindex="-1" aria-labelledby="validationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="validationLabel">Validation publication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment publier le formulaire ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary" id="btnValiderPublication">Oui</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal pour les parametre -->
<!--
    @ un screen a gauche avec un formulaire pour gérer les parametres du form trier par "chapire"

        -parametre global :
            -publier form
            -changer date Mep
            -voir date crérotation
            -
        -parametre mise en page 
            -font du text
            -balise numérotation questions
            -balise numérotation réponses
            -changer la font du textare
            -changer la taille
            -changer la couleure
        -parametre style
        changer
        

    @ un screen à droite avec la préview en direct
        - bouton pour aller sur la preview ?
        - mise à jour en direct de la preview en fontion des parametres
    
    

-->
<div class="modal fade" id="Parametres" tabindex="-1" aria-labelledby="ParametresLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ParametresLabel">Parametres</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>numérotation des questions</label>
                <select name="numerotation" id="type-select" class="form-select key">
                    <option value="decimal">decimal</option>
                    <option value="decimal-leading-zero">decimal-leading-zero</option>
                    <option value="lower-alpha">lower-alpha</option>
                    <option value="lower-roman">lower-roman</option>
                    <option value="upper-latin">upper-latin</option>
                    <option value="upper-roman">upper-roman</option>
                    <option value="none">none</option>
                    <option value="inherit">inherit</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-danger">enregistrer</button>
            </div>
        </div>
    </div>
</div>


<!-- SCRIPT JS -->
<script>
    ///////////////////
    //   VARIABLES   //
    ///////////////////
    const loginCust = "{{ CurrentloginCust }}";
    const idForm    = "{{ myForm.idForm }}";

    //////////////////
    //   form_page  // ✓
    //////////////////
    /*
    # Ajouter pages ✓
    # Suprimer page ✓
    */
    function form_page(nbr, btn) {
        const data = {
            action: "form_page",
            nbr: nbr,
            btn: btn,
            id : idForm
        };
        console.log(data);
        $.ajax({
            type: 'POST',
            url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}',
            data: data,
            success: function(response) {
                // Gérez la réponse du serveur en cas de succès
                console.log('Mise à jour réussie');
                location.reload();
            },
            error: function(error) {
                // Gérez les erreurs de la requête AJAX
                console.error('Erreur lors de la mise à jour', error);
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const loginCust = "{{ CurrentloginCust }}";
        const idForm    = "{{ myForm.idForm }}";
        // Fonction pour sélectionner une question et désélectionner les autres
        function selectQuestion(question) {
            var questions = document.getElementsByClassName("question-container");
            for (var i = 0; i < questions.length; i++) {
                var currentQuestion = questions[i];
                if (currentQuestion === question) {
                    currentQuestion.classList.add("selected");
                } else {
                    currentQuestion.classList.remove("selected");
                }
            }
        }
    
        // Écouteur d'événement pour appeler la fonction selectQuestion lors du clic sur une question
        var questions = document.getElementsByClassName("question-container");
        for (var i = 0; i < questions.length; i++) {
            questions[i].addEventListener("click", function() {
                selectQuestion(this);
            });
        }

        //////////////////////
        //   update_input   // ✓
        //////////////////////
    
        // Sélectionnez toutes les balises avec la classe "editable"
        const editableElements = document.querySelectorAll('[contenteditable="true"]');
    
        // Ajoutez un écouteur d'événements pour chaque balise
        editableElements.forEach(element => {
            // Stockez la valeur d'origine dans un attribut personnalisé
            element.setAttribute('data-original-value', element.textContent);
    
            element.addEventListener('blur', () => {
                const id = element.getAttribute('id');
                const value = $.trim(element.textContent); // Récupérez la valeur modifiée
                const field = element.getAttribute('name');

                // Créez l'objet de données à envoyer dans la requête
                const data = {
                    action: "update_input",
                    id: id,
                    value: value,

                    //model: modelName,
                    field: field
                };
                console.log(data);
                // Effectuez une requête AJAX avec jQuery
                $.ajax({
                  type: 'POST', 
                  url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}', // l'URL vue Django
                  data: data,
                  success: function(response) {
                      // Gérez la réponse du serveur en cas de succès
                      console.log('Mise à jour réussie');
                  },
                  error: function(error) {
                      // Gérez les erreurs de la requête AJAX
                      console.error('Erreur lors de la mise à jour', error);
    
                      // Récupérez la valeur d'origine et rétablissez-la
                      const originalValue = element.getAttribute('data-original-value');
                      element.textContent = originalValue;
                  }
                });
            });
        });

        ///////////////////////////
        //   questionParameter  //
        ///////////////////////////
        /*
        # Nombre de réponse minimum : 1     
        # Nombre de réponse maximum : 2
        # Choisir un type question
        # Question est obligatoire          ✓
        */


        //récupérer les éléments qui contient "questionParameter" dans la classe
        const questionParameter = document.querySelectorAll('.questionParameter');
        questionParameter.forEach(element => {

            // mettre des listener sur element, ce sont une liste déroulante et un checkbox
            element.addEventListener('change', () => {
                // récupérer l'id de la question sélectionnée, une question contient la class "selected"
                var all_question = document.getElementsByClassName("question-container");
                var selected_question = null;

                Array.from(all_question).forEach(question => {
                    if (question.classList.contains("selected")) {
                        selected_question = question;
                    }
                });

                // récupérer la valeur de la liste déroulante et du checkbox
                var options = selected_question.querySelectorAll('[name="type_question"]');
                console.log("options")
                console.log(options)
                option_selected = null;
                Array.from(options).forEach(option => {
                    if (option.selected) {
                        option_selected = option.textContent;
                        console.log(option_selected);
                    }
                });

                // récupérer la valeur de la checkbox
                test = selected_question.querySelector('[name="isObligatory"]');
                
                if(test.checked){
                    // check box is checked
                    var is_required = true;
                }else{
                    // checkbox is not checked
                    var is_required = false;
                }

                // Créez l'objet de données à envoyer dans la requête
                const data = {
                    action: "questionParameter",
                    id: selected_question.getAttribute('id'),
                    type_question: option_selected,
                    is_required: is_required
                };

                $.ajax({
                    type: 'POST',
                    url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}', // l'URL vue Django
                    data: data,
                    success: function(response) {
                        // Gérez la réponse du serveur en cas de succès
                        console.log('Mise à jour réussie');
                        location.reload();
                    },
                    error: function(error) {
                        // Gérez les erreurs de la requête AJAX
                        console.error('Erreur lors de la mise à jour', error);
                        location.reload();
                    }
                });
            });
        });
        
        

        //////////////////////
        //   question_form  // 
        //////////////////////
        /*
        # Ajouter question      ✓
        # Suprimer Question     ✓
        # dupliquer Question    ✓
        # Lier des réponses a la question
        # Changer l'ordre des questions    ✓
        */
        

        const question_form = document.querySelectorAll('[name="menu"]');

        question_form.forEach(element => {
            element.addEventListener('click', () => {
                var all_question = document.getElementsByClassName("question-container");
                var selected_question = null;
                var id_Question = null; // Déplacer la déclaration ici
        
                Array.from(all_question).forEach(question => {
                    if (question.classList.contains("selected")) {
                        selected_question = question;
                        id_Question = question.getAttribute('id'); // Assigner la valeur ici
                    }
                });
                console.log("selected_question ::::::::::::::::")
                if (selected_question) {
                    console.log("question sélectionnéeéééééé")
                    const btn = element.value;
        
                    console.log("id question :", id_Question);
                    console.log("Le bouton cliqué est :", btn);
        
                    if (btn == "lier") {
                        // ouvrir le modal pour lier les réponses
                        var parametre = id_Question;
                        // Ouvrir le modal en utilisant la méthode 'show' et passer le paramètre en utilisant la méthode 'data'
                        $('#lienQuestion').data('parametre', parametre).modal('show');
                        affichagedynamique(parametre);
                    } else {
                        console.log("question sélectionnéeééééééààààà")
                        const data = {
                            action: "question_form",
                            btn: element.value,
                            id_Question: id_Question,
                            id: idForm
                        };
        
                        $.ajax({
                            type: 'POST',
                            url: '{% url "QuestionView" loginCust=' + loginCust + ' idForm=' + idForm + ' %}', // l'URL vue Django
                            data: data,
                            success: function (response) {
                                // Gérez la réponse du serveur en cas de succès
                                console.log('Mise à jour réussie');
                                location.reload();
                            },
                            error: function (error) {
                                // Gérez les erreurs de la requête AJAX
                                console.error('Erreur lors de la mise à jour', error);
                            }
                        });
                    }
                }
            });
        });
        

        ////////////////////////
        //   question_answer  //
        ////////////////////////
        /*
        # Ajouter réponse
        # Suprimer supprimer
        # lier la réponse a des questions
        */
        const allAnswer = document.querySelectorAll('[name="answer"]');
        allAnswer.forEach(element => {

            // mettre des listener sur element, ce sont une liste déroulante et un checkbox
            element.addEventListener('click', () => {
                currentAnwser = element.getAttribute('id');
                // récupérer l'id de la question sélectionnée, une question contient la class "selected"
                var all_question = document.getElementsByClassName("question-container");
                var selected_question = null;
                var questionId = null;

                Array.from(all_question).forEach(question => {
                    if (question.classList.contains("selected")) {
                        console.log("question sélectionnée")
                        console.log(question)
                        selected_question = question;
                        questionId = selected_question.getAttribute('id');
                    }
                });


                // Sélectionner l'élément contenant la question
                //const questionContainer = selected_question.getElementsByClassName("question-container");
                // Récupérer l'ID de la question
                //const questionId = questionContainer.getAttribute('id');
                // Afficher l'ID de la question dans la console
                console.log('ID de la question :', questionId);
                btn = element.getAttribute('title');
                let data;

                if (btn == "Ajouter"){
                    data = {
                        action: "question_answer",
                        btn : btn,
                        idQuestion : questionId,
                        id : idForm ,
                    };
                }
                else{
                    idAnswer = element.getAttribute('id');
                    data = {
                        action: "question_answer",
                        btn : btn,
                        idQuestion : questionId,
                        id : idForm ,
                        idAnswer : idAnswer
                    };
                }

                if (btn == "LierReponse"){
                    // ouvrir le modal pour lier les réponses
                    var parametre = selected_question.getAttribute('id');
                    //var parametre = currentAnwser;
                    // Ouvrir le modal en utilisant la méthode 'show' et passer le paramètre en utilisant la méthode 'data'
                    $('#lienReponse').data('parametre', parametre).modal('show');
                    affichagedynamiqueLien(parametre,currentAnwser);
                }else{
                    // Effectuez une requête AJAX avec jQuery
                    $.ajax({
                        type: 'POST',
                        url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}', // l'URL vue Django
                        data: data,
                        success: function(response) {
                            // Gérez la réponse du serveur en cas de succès
                            console.log('Mise à jour réussie');
                        },
                        error: function(error) {
                            // Gérez les erreurs de la requête AJAX
                            console.error('Erreur lors de la mise à jour', error);
                        }
                    });
                }
                

            });
        });



        ///////////////////
        //   style_form  //
        ///////////////////
        /*
        # mettre a jour le style css et sauvegarder les changement quelque part en base de donnée
        # pas encore fais !
        # stockage json ?? =
        */

        //const style_form = document.querySelectorAll('ok');


        ///////////////////////
        //   form_parametre  //
        ///////////////////////
        /*
        ##############################################
        #        fonctionalités mis en place        #
        ##############################################
  
        # aller sur la preview
  
        ##############################################
        #   fonctionalités pas encore mis en place   #
        ##############################################
  
        # Changer date de MEP
        # Publier Form
        # Affichage sur un ou plusieurs pages
        */

        //publier le formulaire
        document.getElementById('btnValiderPublication').addEventListener('click',function() {
            data = {
                action: "publier",
                id : idForm
            };

            $.ajax({
                type: 'POST', 
                url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}', // l'URL vue Django
                data: data,
                success: function(response) {
                    // Gérez la réponse du serveur en cas de succès
                    console.log('Mise à jour réussie');
                    var redirectUrl = '/' + loginCust.idCustomer + '/form/' + idForm.toString() + '/?preview=true';
                    document.location.href = redirectUrl;
                },
                error: function(error) {
                    // Gérez les erreurs de la requête AJAX
                    console.error('Erreur lors de la mise à jour', error);
  
                    // Récupérez la valeur d'origine et rétablissez-la
                    const originalValue = element.getAttribute('data-original-value');
                    element.textContent = originalValue;
                }
            });
        });
    });



    ///////////////////////
    //       Modal       //
    ///////////////////////
    
    //fonction qui va servir a enregistrer les réponses des checkbox dans la base de donnée de la fenetre modal "lienQuestion"
    function lien(modal){

        console.log("#############################################debug")
        var fModal = document.getElementById(modal);
        var all_question = fModal.querySelectorAll('.question-item');
        console.log(all_question);
            
    // Initialiser un objet vide pour stocker les données JSON
    var jsonData = {};

    if (modal === "lienQuestion") {
        // Ajouter les éléments dans un dictionnaire où il y a l'id de la question et si c'est coché ou non
        var questionsData = [];

        var QuestionSelected = document.querySelector('.selected');
        var idQuestionSelected = QuestionSelected.getAttribute('id');

        Array.from(all_question).forEach(question => {
            var idElement = question.getAttribute('data-question-id');
            var all_answer = question.querySelectorAll('[type="checkbox"]');
            var listeAnswer = [];

            Array.from(all_answer).forEach(answer => {
                var idAnswer = answer.getAttribute('idAnswer');
                var checked = answer.checked;
                listeAnswer.push({ idAnswer, checked });
            });

            questionsData.push({ idElement, listeAnswer });
        });

            // Ajouter les données de questions au JSON
            jsonData = { modal, questionsData };
        } else if (modal === "lienReponse") {
            // Ajouter les éléments dans un dictionnaire où il y a l'id de la question et si c'est coché ou non
            var questionsData = [];

            Array.from(all_question).forEach(question => {
                var idElement = question.getAttribute('data-question-id');
                var checked = question.querySelector('[type="checkbox"]').checked;
                questionsData.push({ idElement, checked });
            });

            // Ajouter les données de questions au JSON
            jsonData = { modal, questionsData };
        } else {
            console.log("erreur");
        }

        // Convertir l'objet JSON en chaîne JSON
        var jsonString = JSON.stringify(jsonData);

        // Afficher la chaîne JSON
        console.log(jsonString);


        const data = 
        {
            action: "lien",
            Modal: modal,
            question: idQuestionSelected,
            info : jsonString
        };
        console.log(data);
        $.ajax({
            type: 'POST', 
            url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}', // l'URL vue Django
            data: data,
            success: function(response) {
                // Gérez la réponse du serveur en cas de succès
                console.log('Mise à jour réussie');
            },
            error: function(error) {
                // Gérez les erreurs de la requête AJAX
                console.error('Erreur lors de la mise à jour', error);
            }
        });
        $('#' + modal).modal('hide');
    }

    function MesFormulaires(){
        console.log('MesFormulaires');
        redirectUrl = '/' + loginCust;
        document.location.href = redirectUrl;

    }


</script>
{% endblock %}




<!--
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#lienQuestion">
                                    <div class="btn btn-primary" name="menu" value="lier">
                                        <img src="{% static 'IQB/images/lier.png' %}" alt="Lier" width="24" height="24">
                                    </div>
                                </a>
-->