<!-- details.html -->

{% extends 'master.html' %}
{% block title %}IODA Group IQB{% endblock %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function newForm(myCustomer) {
            console.log(myCustomer.loginCust);
            $.ajax({
                type: 'POST',
                url: '{% url "details" loginCust=myCustomer.loginCust %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'newForm',
                    'Customer': myCustomer
                },
                success: function(response) {
                    if (response.success) {
                        //Redirection vers la page qui cherche le formulaire
                        var redirectUrl = '{% url "redirection" loginCust=myCustomer.loginCust %}';
                        document.location.href = redirectUrl;
                    } else {
                        console.log("Échec");
                    }
                }
            });
        }

        function editForm(myCustomer,formId) {
            console.log(formId);
            var redirectUrl = '/' + myCustomer + '/form/createQuestion/' + formId.toString() + '/';
            document.location.href = redirectUrl;
        } 
        function repondre(myCustomer,formId){
            var redirectUrl = '/' + myCustomer + '/form/' + formId.toString() + '/';
            window.open(redirectUrl, '_blank');
        }
        function preview(myCustomer,formId){
            console.log(formId);
            var redirectUrl = '/' + myCustomer + '/form/' + formId.toString() + '/?preview=true';
            window.open(redirectUrl, '_blank');
        }
        function removeForm(myCustomer,formId) {
            console.log(formId);
            
            
            console.log(myCustomer.loginCust);
            console.log(formId);
            $.ajax({
                type: 'POST',
                url: '{% url "details" loginCust=myCustomer.loginCust %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'deleteForm',
                    'Customer': myCustomer,
                    'formId': formId
                },
                success: function(response) {
                    if (response.success) {
                        //Rechargement de la page
                        location.reload();
                    } else {
                        console.log("Échec");
                    }
                }
            });

        } 
    </script> 
    
    <div class="container-fluid">
        <header class="row">
            <!-- Placer ici le contenu du panneau latéral -->
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebarDetails position-fixed">
                    <div class="position-sticky">
                        <!-- Le contenu de votre panneau latéral ici -->
                        <ul class="nav flex-column">
                            <li class="nav-item" style="margin-top:20px";>
                                <a class="nav-link" href="#mes-formulaires-en-ligne">Mes Formulaires en ligne</a>
                            </li>
                            <li class="nav-item" style="margin-top:20px";>
                                <a class="nav-link" href="#mes-formulaires-en-construction">Mes Formulaires en Construction</a>
                            </li>
                            <li class="nav-item" style="margin-top:20px";>
                                <a class="nav-link" href="#mes-formulaires-en-Archive">Mes Archives</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1 id="mes-formulaires-en-ligne">Mes Formulaires en ligne </h1>
                {% if myOnlineForm|length > 0 %}
                <div class="row">
                    {% for x in myOnlineForm %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <header>
                                <h2 class="card-title" data-form-id="{{ x.idForm }}">{{ x.titleForm }}</h2>
                            </header>
                            <div class="card-body">
                                <p class="card-text"><strong>CreationDate: </strong>{{ x.CreationDate }}</p>
                                <p class="card-text"><strong>MEPDate: </strong>{{ x.MEPDate }}</p>
                                <p class="card-text"><strong>LastModifiedDate: </strong>{{ x.lastModifiedDate }}</p>
                                <p class="card-text"><strong>Auteur : </strong>{{ x.Customer.loginCust }}</p>
                            </div>
                            <div class="card-footer">
                                <button onclick="preview('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                                    <i class="fas fa-eye"></i> Voir le rendu
                                </button>
                                <button onclick="repondre('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> répondre au formulaire
                                </button>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" checked disabled>
                                    <label class="form-check-label">Is Online</label>
                                </div>
                                <div class="form-check form-switch oko" id="{{ x.idForm }}">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefaultArchived" value"aaaaaaaaa">
                                    <label class="form-check-label" for="flexSwitchCheckDefaultArchived">Is Archived</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>aucun formulaire disponible</p>
                {% endif %}

                <button onclick="newForm('{{myCustomer}}');" class="fixed-button btn btn-primary">
                    <img src="{% static 'IQB/images/newForm.png' %}" alt="NewForm" width="36" height="36">
                </button>                

                <hr>
                <h1 id="mes-formulaires-en-construction">Mes Formulaires en Construction</h1>
                {% if myFormUnderConstruction|length > 0 %}
                <div class="row">
                    {% for x in myFormUnderConstruction %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <header>
                                <h2 class="card-title" data-form-id="{{ x.idForm }}">{{ x.titleForm }}</h2>
                            </header>
                            <div class="card-body">
                                <p class="card-text"><strong>CreationDate: </strong>{{ x.CreationDate }}</p>
                                <p class="card-text"><strong>LastModifiedDate: </strong>{{ x.lastModifiedDate }}</p>
                                <p class="card-text"><strong>Auteur : </strong>{{ x.Customer.loginCust }}</p>
                            </div>
                            <div class="card-footer">
                                <button onclick="removeForm('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Supprimer le formulaire
                                </button>
                                <button onclick="editForm('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                                    <i class="fas fa-edit"></i> Modifier le formulaire
                                </button>
                                <button  onclick="preview('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                                    <i class="fas fa-eye"></i> Voir le rendu
                                </button>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Is Online</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>aucun formulaire disponible</p>
                <hr>
                {% endif %}
                <h1 id="mes-formulaires-en-Archive">Mes Formulaires en Archive</h1>
                {% if myFormArchived|length > 0 %}
                <div class="row">
                    {% for x in myFormArchived %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <header>
                                <h2 class="card-title">{{ x.titleForm }}</h2>
                            </header>
                            <div class="card-body">
                                <p class="card-text"><strong>CreationDate: </strong>{{ x.CreationDate }}</p>
                                <p class="card-text"><strong>LastModifiedDate: </strong>{{ x.lastModifiedDate }}</p>
                                <p class="card-text"><strong>Auteur : </strong>{{ x.Customer.loginCust }}</p>
                            </div>
                            <div class="card-footer">
                                <button  onclick="preview('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                                    <i class="fas fa-eye"></i> Voir le rendu
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>aucun formulaire disponible</p>
                <hr>
                {% endif %}
                


            </main>
        </div>
    </div>
    <!-- Modal pour demander la validation de l'action -->
    <div class="modal fade validation-modal" tabindex="-1" aria-labelledby="validationLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationLabel">Validation publication</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment publier le formulaire ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary" id="btnValiderPublication">Oui</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal pour demander la validation de l'action pour mlettre en archive
    <div class="modal fade archive-modal" tabindex="-1" aria-labelledby="archiveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ArchiveLabel">Validation la mise en Archive </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment archiver le formulaire ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-primary" id="btnValiderArchive">Oui</button>
                </div>
            </div>
        </div>
    </div>-->
    <script>
        $(document).ready(function() {
            // Ecoute des changements d'état des boutons switch
            $('.form-check-input').change(function() {
                // Vérifie si le bouton switch est coché
                if ($(this).is(':checked')) {
                    action = $(this).attr('id');
                    // Récupère l'identifiant du formulaire correspondant
                    var formId = $(this).closest('.card').find('.card-title').data('form-id');
                    console.log(formId);
                    
                    // Affiche la fenêtre modale avec l'identifiant du formulaire
                    $('#validationLabel').text('Validation publication pour le formulaire ' + formId);
                    $('.validation-modal').data('form-id', formId).data('action', action).modal('show');
                }
            });
            //position initiale si annuler
            $('.validation-modal').on('hidden.bs.modal', function (e) {
                console.log('Fermeture de la modal de validation');
                $('.form-check-input').prop('checked', false);
            });
            // Ecoute du clic sur le bouton "Oui" de la modal de validation
            $('#btnValiderPublication').on('click', function() {
                // Ferme la fenêtre modale
                $(this).closest('.modal').modal('hide');
                var actionForm = $('.validation-modal').data('action');
                console.log('Action confirmée');
                if (actionForm == 'flexSwitchCheckDefault') {
                    actionForm = "publier";
                } else {
                    actionForm = "archiver";
                }
                const data = {
                    action: actionForm,
                    id : $('.validation-modal').data('form-id')
                };
                const loginCust = "{{ myCustomer.loginCust }}";
                $.ajax({
                    type: 'POST', 
                    url: '{% url "details" loginCust=myCustomer.loginCust %}',
                    //url: '{% url "QuestionView" loginCust='+loginCust+' idForm='+idForm+' %}', // l'URL vue Django
                    data: data,
                    success: function(response) {
                        console.log("Succès");
                        window.location.reload();
                    },
                    error: function(response) {
                        console.log("Erreur");
                        window.location.reload();
                    }
                });
                
            });
        });


    </script>
    <script>
        /*
    //$(document).ready(function () {
        // Fonction pour afficher la modal de validation
        function showValidationModal(modalClass) {
            console.log(modalClass);
            $(modalClass).modal('show');
            console.log('Affichage de la modal de validation');
        }

        // Gestion des changements dans le switch "Is Online"
        $('.flexSwitchCheckDefault').on('change', function () {
            console.log(this.checked);
            if (this.checked) {
                showValidationModal('.validation-modal');
            }
        });

        // Gestion des changements dans le switch "Is Archived"
        $('.flexSwitchCheckDefaultArchived').on('change', function (e) {
            console.log("test");
            //if (this.checked) {
            //    showValidationModal('.archive-modal');
            //}
        });
        // Réinitialiser le switch "Is Online" si la modal est fermée
        $('.validation-modal').on('hidden.bs.modal', function (e) {
            console.log('Fermeture de la modal de validation');
            $('.flexSwitchCheckDefault').prop('checked', false);
        });

        // Réinitialiser le switch "Is Archived" si la modal est fermée
        $('.archive-modal').on('hidden.bs.modal', function (e) {
            console.log('Fermeture de la modal de validation');
            $('.flexSwitchCheckDefaultArchived').prop('checked', false);
        });

        // Gestion du clic sur le bouton "Oui" de la modal de validation
        $('.btnValider').on('click', function () {
            $(this).closest('.modal').modal('hide');
            console.log('Action confirmée');
        });

    });  */  
</script>
{% endblock %}