<!-- details.html -->

{% extends 'master.html' %}

{% block title %}IODA Group IQB{% endblock %}
{% block content %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function newForm(myCustomer) {
            console.log(myCustomer.loginCust);
            $.ajax({
                type: 'POST',
                url: '{% url "details" loginCust=myCustomer.loginCust %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'action': 'newForm',
                    'Customer': myCustomer
                },
                success: function(response) {
                    if (response.success) {
                        //Redirection vers la page qui cherche le formulaire
                        var redirectUrl = '{% url "redirection" loginCust=myCustomer.loginCust %}';
                        document.location.href = redirectUrl;
                    } else {
                        console.log("Échec");
                    }
                }
            });
        }

        function editForm(myCustomer,formId) {
            console.log(formId);
            var redirectUrl = '/' + myCustomer + '/form/createQuestion/' + formId.toString() + '/';
            document.location.href = redirectUrl;
        } 
        function repondre(myCustomer,formId){
            var redirectUrl = '/' + myCustomer + '/form/' + formId.toString() + '/';
            document.location.href = redirectUrl;
        }
        function preview(myCustomer,formId){
            console.log(formId);
            var redirectUrl = '/' + myCustomer + '/form/' + formId.toString() + '/?preview=true';
            document.location.href = redirectUrl;
        }
        function removeForm(myCustomer,formId) {
            console.log(formId);
            var redirectUrl = '/' + myCustomer + formId.toString() + '/';
            document.location.href = redirectUrl;
        } 
    </script>    
    <div class="col-lg-3 col-md-6 mb-4">
        <h1>Mes Formulaires en ligne :</h1>
        {% for x in myOnlineForm %}
        <div class="card mb-4">
            <header>
                <h2 class="card-title">{{ x.titleForm }}</h2>
            </header>
            <div class="card-body">
                <p class="card-text"><strong>CreationDate: </strong>{{ x.CreationDate }}</p>
                <p class="card-text"><strong>MEPDate: </strong>{{ x.MEPDate }}</p>
                <p class="card-text"><strong>LastModifiedDate: </strong>{{ x.lastModifiedDate }}</p>
                <p class="card-text"><strong>Auteur : </strong>{{ x.Customer.loginCust }}</p>
            </div>
            <div class="card-footer">
                <button onclick="preview('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                    <i class="fas fa-eye"></i> Voir le rendu
                </button>
                <button onclick="repondre('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                    <i class="fas fa-edit"></i> répondre au formulaire
                </button>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked disabled>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Is Online</label>
                </div>
            </div>
        </div>
        {% endfor %}
        
        <hr>

        <h1>Mes Formulaires en Construction :</h1>
        {% for x in myFormUnderConstruction %}
        <div class="card mb-4">
            <header>
                <h2 class="card-title">{{ x.titleForm }}</h2>
            </header>
            <div class="card-body">
                <p class="card-text"><strong>CreationDate: </strong>{{ x.CreationDate }}</p>
                <p class="card-text"><strong>LastModifiedDate: </strong>{{ x.lastModifiedDate }}</p>
                <p class="card-text"><strong>Auteur : </strong>{{ x.Customer.loginCust }}</p>
            </div>
            <div class="card-footer">
                <button onclick="removeForm('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                    <i class="fas fa-edit"></i> surprimer le formulaire
                </button>
                <button onclick="editForm('{{ myCustomer }}','{{ x.idForm }}');" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Modifier le formulaire
                </button>
                <button action="{% url 'reponse' x.idForm %}" class="btn btn-primary">
                    <i class="fas fa-eye"></i> Voir le rendu
                </button>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Is Online</label>
                    <label class="" for="flexSwitchCheckDefault">Is Online</label>
                </div>
                
            </div>
        </div>
        {% endfor %}

        <hr>

        <button onclick="newForm('{{myCustomer}}');">
            <p>nouveau form</p>
        </button>
    </div>
    {% endblock %}
