/*header*/

.MainBody {
    background-image: linear-gradient(90deg,#2f6fe4,#f20252,#ff3800);
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: #6799b2;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    z-index: 10;
    margin-bottom: 0px;
    
}

.sidebar a.nav-link {
    color: black;
}

h2.card-title {
    color: rgb(0, 0, 0);
}

.profil-image {
    width: 50px;
    height: 50px;
}

.profil-dropdown {
    position: relative;
    display: inline-block;
}

.profil-options {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

.profil-options.show {
    display: block;
}

.sidebar {
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

.question-list {
    margin-top: 20px;
}

/* Styles pour le bouton de masquage/affichage */
#sidebarToggle {
    position: fixed;
    bottom: 10px;
    z-index: 1000;
}

.Question {
    background-color: grey;
    margin-top: 10px;
}


.question-order .arrow-icon {
    cursor: pointer;
    margin: 0 5px;
}

.sidebar-hidden {
    display: none;
}

#titleForm {
    white-space: nowrap;
    overflow: hidden;
  }

#submitButton{
    position:fixed
    
}

#interactive-menu{
    position:fixed
}

/*
<style>
ol.c {list-style-type: decimal;}
ol.d {list-style-type: decimal-leading-zero;}
ol.k {list-style-type: lower-alpha;}
ol.n {list-style-type: lower-roman;}
ol.p {list-style-type: upper-latin;}
ol.q {list-style-type: upper-roman;}
ol.r {list-style-type: none;}
ol.s {list-style-type: inherit;}
</style>
*/

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Pour s'assurer que le bouton est au-dessus du contenu */
}

.card .card-header {
    background-color: gray;
    border-bottom: 1px solid #000000;
}

/* CSS pour le panneau latéral */
/*
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;  Assurez-vous que le panneau occupe toute la hauteur de la fenêtre 
    z-index: 1000;  Pour s'assurer que le panneau est au-dessus du contenu principal 
}
*/